.App {
  text-align: center;
}

textarea {
  width: 500px;
  height: 400px;
  resize: none;
  background-color: #4171530d;
}

body {
  background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 20px;

}

@media(max-width: 700px) {
  
  textarea {
    width: 300px
  }
}
